.transTable {
  justify-content: space-between;
  width: 70%;
  margin: 0 auto 50px;
  border-collapse: collapse;
}
.transTitle {
  background-color: rgb(58, 57, 57);
  color: white;
}

.transTable th {
  border: 2px solid black;
  padding: 8px;
}
.transTable td {
  border: 2px solid black;
  padding: 8px;
  padding-left: 120px;
}

tr,
td {
  font-size: 24px;
  font-weight: 500;
}

tbody tr:nth-child(even) {
  background-color: rgb(164, 164, 164);
}

tbody tr:nth-child(odd) {
  background-color: rgb(226, 223, 223);
}
